
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">

       <p style="margin-top:170px;text-align:center;font-size:large;"><b> Please select a button..</b></p>
        <a href="/RentedCar/RentedCar" class="btn btn-lg btn-block btn-success"  style="text-align:center;">USER</a><br />
        <a href="/Cars/" class="btn btn-lg btn-block btn-success"  style="text-align:center;">CUSTOMER</a>
    </div>
</body>
</html>
